{% extends "goflow/base_site.html" %}
{% load i18n %}

{% block branding %}
<h1 id="site-name">{% trans 'GoFlow' %}</h1>
{% endblock %}

{% block stylesheet %}{{STATIC_URL}}admin/css/login.css{% endblock %}
{% block bodyclass %}login{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block connection_links %}{% endblock %}

{% block content %}

{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main">
<form method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    <label for="id_username">{% trans form.username.label_tag %} </label> {{ form.username }}
  </div>
  <div class="form-row">
    <label for="id_password">{% trans form.password.label_tag %}</label> {{ form.password }}
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'login' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

